<header>
    <h1>Portfólio do Eduardo</h1>
    <nav>
        <a routerLink="/home" routerLinkActive="pagina-ativa">Home</a>
        <a routerLink="/event" routerLinkActive="pagina-ativa">Event</a>
        <a routerLink="/prop-binding" routerLinkActive="pagina-ativa">Prop-binding</a>
        <a routerLink="/two-way-binding" routerLinkActive="pagina-ativa">Two-way-binding</a>
        <a routerLink="/alunos" routerLinkActive="pagina-ativa">Alunos</a>
        <a routerLink="/botao-contador" routerLinkActive="pagina-ativa">Botão-contador</a>
        <a routerLink="/logado-deslogado" routerLinkActive="pagina-ativa">Logado ou deslogado</a>
        <a routerLink="/imagens" routerLinkActive="pagina-ativa">Imagens</a>
    </nav>
</header>