<section class="cadastro-estudante">
    <h2>Cadastro do estudante:</h2>

    <form (submit)="efetuarCadastro($event)">
        <legend>Cadastro:</legend>

        <div class="estudantes">
            <div class="estudante">
                <!-- Nome do aluno: -->
                <label for="text">Nome do aluno(a):</label>
                <input type="text" placeholder="Aluno(a)" [formField]="estudanteForm.nomeAluno">
                @if (estudanteForm.nomeAluno().touched() && estudanteForm.nomeAluno().invalid()) {
                @for (error of estudanteForm.nomeAluno().errors(); track error.kind) {
                <span class="required">{{error.message}}</span>
                }
                }
            </div>

            <div class="estudante">
                <!-- Média final do aluno: -->
                <label for="text">Média final do aluno(a):</label>
                <input type="text" placeholder="Média final" inputmode="numeric" [formField]="estudanteForm.mediaFinal">
                @if (estudanteForm.mediaFinal().touched() && estudanteForm.mediaFinal().invalid()) {
                @for (error of estudanteForm.mediaFinal().errors(); track error.kind) {
                <span class="required">{{error.message}}</span>
                }
                }
            </div>
        </div>

        <button>Cadastrar</button>
    </form>

    <div class="alunos-cadastrados">
        @for (aluno of alunos(); track $index) {
        <div class="aluno-cadastrado">
            <h3 class="nome">{{aluno.nomeAluno}}</h3>
            <p><strong>Média final:</strong> {{aluno.mediaFinal}}</p>

            @if (aluno.mediaFinal !== null) {
                @if (aluno.mediaFinal >= 7) {
                    <p class="aprovado">Aprovado</p>
                    <img src="" alt="">
                } @else {
                    <p class="reprovado">Reprovado</p>
                }
            }
        </div>

        } @empty {
        <p class="nao-cadastrado">Nenhum aluno cadastrado</p>
        }
    </div>
</section>
