<main>
    <section class="sobre-mim">
        <h2>Sobre mim:</h2>
        <ul>
            <li>Me chamo Eduardo;</li>
            <li>Tenho 17 anos;</li>
            <li>Estou cursando Front-end;</li>
            <li>Estou em formação em HTML, CSS, JavaScript e Angular;</li>
        </ul>    
    </section>

    <section class="hobbies">
        <h2>Meus hoobies:</h2>
        <ul>
            <li>Jogar futebol e ping-pong;</li>
            <li>Assistir Fórmula 1;</li>
            <li>Passar tempo coma família e amigos.</li>
            <li>Se diverti.</li>
        </ul>
    </section>

    <section class="redes">
        <div class="redes-socias">
            <a href="https://www.instagram.com/"
            rel="noopener"
            target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </section>
</main>