<main>
    <section class="sobre-mim">
        <h2>Sobre mim:</h2>
        <div class="cards">
            <div class="texto">
                <p>- Me chamo Eduardo;</p>
                <p>- Tenho 17 anos;</p>
                <p>- Estou cursando Front-end;</p>
                <p>- Estou em formação em HTML, CSS, JavaScript e Angular.</p>
            </div>   
        </div>    
    </section>

    <section class="hobbies">
        <h2>Meus hoobies:</h2>
        <div class="cards">
            <div class="texto">
                <p>- Jogar futebol e ping-pong;</p>
                <p>- Assistir Fórmula 1;</p>
                <p>- Passar tempo com a minha família e amigos;</p>
                <p>- Se diverti.</p>
            </div>    
        </div>
    </section>

    <section class="redes">
        <h2>Minhas redes sociais:</h2>
        <div class="links">
            <div class="redes-socias">
                <a href="https://www.instagram.com/eduardo_nascimento_alves"
                rel="noopener"
                target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="redes-socias">
                <a href="https://github.com/eduardoalves10"
                rel="noopener"
                target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="redes-socias">
                <a href="https://www.linkedin.com/in/eduardo-nascimento-alves-6066283a9?utm_source=share_via&utm_content=profile&utm_medium=member_android"
                rel="noopener"
                target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </section>
</main>