*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal: rgba(238, 233, 233);
    --cor-secundaria: rgba(0, 0, 0);
    --cor-importante: rgba(65, 61, 61);
    --sombra: 0 0 25px rgb(0, 0, 0, 0.35);
    --fonte: arial;
}

h2 {
    font-family: var(--fonte);
    margin: 40px 0 20px;
    font-size: 40px;
    text-align: center;
    color: var(--cor-importante);
}
