<section class="login">
    <h2>Login:</h2>

    <form (submit)="efetuarLogin($event)">
        <legend>Login de usuário:</legend>

        <div class="logout">
            <div class="login-senha">
                <!-- Email de usuário -->
                <label for="text">Email do usuário:</label>
                <input type="email" placeholder="Email" [formField]="loginForm.email">
                @if (loginForm.email().touched() && loginForm.email().invalid()){
                    @for (error of loginForm.email().errors(); track error.kind) {
                        <span class="required">*{{error.message}}</span>
                    }
                }
            </div>

            <div class="login-senha">
                <!-- Senha de usuário -->
                <label for="text">Senha:</label>
                <input type="password" inputmode="numeric" placeholder="Senha" [formField]="loginForm.senha">
                @if (loginForm.senha().touched() && loginForm.senha().invalid()) {
                    @for (error of loginForm.senha().errors(); track error.kind) {
                        <span class="required">*{{error.message}}</span>
                    }
                }
            </div>
        </div>

        <button [disabled]="loginForm().invalid()">Login</button>
    </form>

    <p class="logado-ou-nao">O usuário <strong>@if(!estaLogado()) {não} está logado!</strong></p>
</section>
